<!DOCTYPE html>
<html>

  <head>
    <title>Movie Friends</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
  </head>

  <body>
    <nav class="nav">
      <ul>
        <li>
          <a class="navlink" href="/">Home</a>
        </li>

        {{#if session.authenticated}}

        <li>
          <a class="navlink" href="/movies">Movies</a>
        </li>
        <li>
          <a class="navlink" href="/rate">Rate</a>
        </li>
        <li>
          <a class="navlink" href="/users">Users</a>
        </li>

        {{else}}

        <li>
          <a class="navlink" href="/login">Login</a>
        </li>

        {{/if}}
        <li>
          <a class="navlink" href="/about">About</a>
        </li>
      </ul>
    </nav>

    {{#if session.authenticated}}

      <div>
        <form action="/logout" method="POST">
          <button class="" type="submit">
            Logout
          </button>
        </form>
      </div>

    {{/if}}

    {{{body}}}
  </body>

</html>
