<!DOCTYPE html>
<html>

  <head>
    <title>Movie Friends</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
  </head>

  <body>
    <nav class="nav">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/movies">Movies</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
      </ul>
    </nav>

    {{{body}}}
  </body>

</html>
