<section>
  <div class="movie-picture" style="background-image: url({{movie.image}});"></div>
  <div>
    <h3 class='movie-title'>
      {{movie.title}}
    </h3>
    <p class='movie-plot'>
      {{movie.plot}}
    </p>
  </div>
</section>

<link rel="stylesheet" type="text/css" href="/css/movie.css">
